<div class='row'>
  <div class='col-md-12'>
    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <%= render partial: 'index_row', locals: { customer: customer } %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <h3>Add customer</h3>
    <%= render 'form' %>
  </div>
</div>
